
body {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    background-color: #e0eaf9;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.title {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
}

h1 {
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    color: #627187;
}

h2 {
    font-size:3em;
    font-weight: bold;
    text-align: center;
    color: #759cd6;
}

p {
    font-size:1.5em;
    font-weight: bold;
    text-align: center;
    color: #939393;
}


.content-space {
  width: 700px;
  padding: 30px 30px;
  background: #F4F6F6    ;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 5%;
}

.table {
    text-align:center;
    vertical-align:middle;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    background-color: #232323;
    margin-bottom: 100px;
}

.table thead {
    font-weight: bold;
    font-size: 1em;
    text-align:center;
    vertical-align:middle;
    color: #000000;
}

.table td {
    text-align:center;
    vertical-align:middle;
    font-size: 1em;
}

.table th {
    background-color: #a3a1a1;
}

.table tr {
    background-color: #cecece;
}

.table td, .table th {
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left:2%;
}

.table td.center {
    text-align: center;
    padding-left: 0.5%;
    padding-right: 0.5%;
    color: #000000;
}

.colored {
  -webkit-animation: fadeout 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadeout 2s; /* Firefox < 16 */
      -ms-animation: fadeout 2s; /* Internet Explorer */
       -o-animation: fadeout 2s; /* Opera < 12.1 */
          animation: fadeout 2s;
}

@keyframes fadeout {
  0% { background-color: #cccc00; }
  50% { background-color: #cccc00; }
  100% { background-color: #cecece; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
  0% { background-color: #cccc00; }
  50% { background-color: #cccc00; }
  100% { background-color: #cecece; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
  0% { background-color: #cccc00; }
  50% { background-color: #cccc00; }
  100% { background-color: #cecece; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
  0% { background-color: #cccc00; }
  50% { background-color: #cccc00; }
  100% { background-color: #323C50; }
}


.bad_creds {
    color: red;
}

.page_divider {
    width: 100%;
    height:auto;
    background-color: #323C50;
    margin-top: 50%;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}



.form-submit-button {
    display: block;
    margin: auto;
    width: 100px;
    height: 50px;
    background: #B9DFFF;
    color: #fff;
    border: 5px solid #eee;
    border-radius: 20px;
    text-shadow:none;
}

.form-submit-button:hover {
    background: #016ABC;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow:none;
    transition: 1s;
}

form {
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 80%;
    padding: 12px 20px;
    margin: 3px 10%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 30%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}
